/build/
/composer.phar
/node_modules/

.php_cs.cache
docker-compose.override.yml

# Esteren Maps
/public/maps_tiles/*
!/public/maps_tiles/empty.jpg

# Assets
/public/js/
/public/css/
/public/fonts/
/public/img/
!/public/img/favicon.ico
/public/uploads/
!/public/uploads/maps/

# Automatically created directories
!/public/js/.gitkeep
!/public/css/.gitkeep

# This directory is used only by LeafletJS defaults, we're not sure we won't ever use it...
/public/images

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/cache/*
/var/log/*
/var/sessions/*
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/phpunit.xml
.phpunit
phpunit.phar
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
