includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 1
    paths:
        - %rootDir%/../../../src/
        - %rootDir%/../../../tests/
    autoload_files:
        - vendor/bin/.phpunit/phpunit-6.5/vendor/autoload.php
    excludes_analyse:
        - %rootDir%/../../../src/Migrations
        - %rootDir%/../../../src/DataFixtures/Internal
        - %rootDir%/../../../src/CorahnRin/PDF
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/srcKernelDevDebugContainer.xml
    ignoreErrors:
        - message: '#^Service "[^"]+" is private.$#'
          path: %rootDir%/../../../tests/
