includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 1
    paths:
        - %currentWorkingDirectory%/src/
        - %currentWorkingDirectory%/tests/
    autoload_files:
        - vendor/autoload.php
        - vendor/bin/.phpunit/phpunit-7.5/vendor/autoload.php
    excludes_analyse:
        - %currentWorkingDirectory%/src/Migrations
        - %currentWorkingDirectory%/src/DataFixtures/Internal
        - %currentWorkingDirectory%/src/CorahnRin/PDF
        - %currentWorkingDirectory%/tests/bootstrap.php
    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/dev/srcKernelDevDebugContainer.xml
    ignoreErrors:
        - message: '#^Service "[^"]+" is private.$#'
          path: %currentWorkingDirectory%/tests/
