includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 1
    paths:
        - %rootDir%/../../../tests/
    autoload_files:
        - vendor/bin/.phpunit/phpunit-6.5/vendor/autoload.php
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/srcKernelDevDebugContainer.xml
    ignoreErrors:
        - '#^Service "[^"]+" is private.$#'
